version: '3.3'

services:
  backend1:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    image: LMare/lightning-playground-backend:dev
    hostname: backend1
    volumes:
      - lnd1_data:/app/nodes-storage/.lnd1
      - lnd2_data:/app/nodes-storage/.lnd2

  frontend1:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    image: LMare/lightning-playground-frontend:dev
    hostname: frontend1
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"

  btcd:
    build:
      context: https://github.com/btcsuite/btcd.git#v0.25.0
      dockerfile: Dockerfile
    image: btcsuite/btcd:v0.25.0
    hostname: btcd
    command:
      - btcd
      - --simnet
      - --rpcuser=user
      - --rpcpass=pass
      - --rpclisten=0.0.0.0:18556       # port rpc
      - --listen=0.0.0.0:18555          # reseau P2P
      - --debuglevel=debug
      - --txindex
      # address récompense de minage pour la génération de bloc auto en simnet
      #       lncli --network=simnet newaddress np2wkh
      - --miningaddr=rneZnvYmrLg9V6seGghNXmdfzatNsHgb54
    volumes:
      - btcd_data:/root/.btcd
      - ./btcd.conf:/root/.btcd/btcd.conf   # To simplify the cmd btcctl 

  lnd1:
    image: lightninglabs/lnd:v0.19.3-beta.rc2
    hostname: lnd1
    depends_on:
      - btcd
    command:
      - lnd
      - --btcd.rpchost=btcd:18556
      - --bitcoin.active
      - --bitcoin.simnet
      - --bitcoin.node=btcd
      - --btcd.rpcuser=user
      - --btcd.rpcpass=pass
      - --listen=0.0.0.0:9735                       # reseau P2P pour le connect
      - --debuglevel=trace
      - --watchtower.active
      - --watchtower.externalip=lndtower:9911
      - --rpclisten=0.0.0.0:10009                   # exposition du port à l'extérieur
      - --externalip=lnd1:9735                      # uris pour le getinfo
      - --tlsextradomain=lnd1                       # domaine pour le certificat
    volumes:
      - lnd1_data:/root/.lnd
      - btcd_data:/root/.btcd       # pour avoir le certificat de btcd

  lnd2:
    image: lightninglabs/lnd:v0.19.3-beta.rc2
    hostname: lnd2
    depends_on:
      - btcd
    command:
      - lnd
      - --btcd.rpchost=btcd:18556
      - --bitcoin.active
      - --bitcoin.simnet
      - --bitcoin.node=btcd
      - --btcd.rpcuser=user
      - --btcd.rpcpass=pass
      - --listen=0.0.0.0:9735
      - --debuglevel=info
      - --watchtower.active
      - --watchtower.externalip=lndtower:9911
      - --rpclisten=0.0.0.0:10009
      - --externalip=lnd2:9735
      - --tlsextradomain=lnd2                       # domaine pour le certificat
    volumes:
      - lnd2_data:/root/.lnd
      - btcd_data:/root/.btcd

  lndtower:
    image: lightninglabs/lnd:v0.19.3-beta.rc2
    hostname: lndtower
    command:
      - lnd
      - --bitcoin.simnet
      - --watchtower.active
      - --listen=0.0.0.0:9911
      - --debuglevel=info
      - --bitcoin.node=btcd
      - --btcd.rpcuser=user
      - --btcd.rpcpass=pass
      - --rpclisten=0.0.0.0:10009
      - --externalip=lndtower:9735
    volumes:
      - tower_data:/root/.lnd

volumes:
  btcd_data:
  lnd1_data:
  lnd2_data:
  tower_data:
