apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: btcd
  name: btcd
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: btcd
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.yml
        kompose.version: 1.37.0 (fb0539e64)
      labels:
        io.kompose.service: btcd
    spec:
      containers:
        - args:
            - btcd
            - --simnet
            - --rpcuser=user
            - --rpcpass=pass
            - --rpclisten=0.0.0.0:18556
            - --listen=0.0.0.0:18555
            - --debuglevel=debug
            - --txindex
            - --miningaddr=rneZnvYmrLg9V6seGghNXmdfzatNsHgb54
          image: btcsuite/btcd:v0.25.0
          name: btcd
          volumeMounts:
            - mountPath: /root/.btcd
              name: btcd-data
            - mountPath: /root/.btcd/btcd.conf
              name: btcd-cm1
              subPath: btcd.conf
      hostname: btcd
      restartPolicy: Always
      volumes:
        - name: btcd-data
          persistentVolumeClaim:
            claimName: btcd-data
        - configMap:
            items:
              - key: btcd.conf
                path: btcd.conf
            name: btcd-cm1
          name: btcd-cm1
