apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: btcd-data
  name: btcd-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
